<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Programmer & Designer">
        <title>Egbé L'ajò</title>

        <!----- ÍCONE ----->
        <link rel="icon" href="">

        <!------ CSS ------>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/media.css">

        <!----- ICONS ----->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <!---- =======================
		NAVBAR START ----->
        <header>
            <nav class="navbar fixed-top navbar-expand-lg">
                <div class="container">
                    <a href="#" class="navbar-brand">
                        <img src="../../assets/images/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-bar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-bar">
                        <ul class="navbar-nav me-auto">
                            <li><a class="nav-link" href="../../index.html">Home</a></li>
                            <li><a class="nav-link" href="sobre.html">Sobre</a></li>
                            <li><a class="nav-link" href="ong.html">ONG</a></li>
                            <li><a class="nav-link active" href="contato.html">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!---- =======================
        NAVBAR END ------->

		<!---- =======================
		CONTENT START ---->
        <main>
            <!---- =======================
		    CONTATO START ----->
            <article>
                <!---- =======================
                SECTION START ----->
                <section class="section-title bg-grey">
                    <div class="container">
                        <h2>CONTATO</h2>
                        <p>Quer mais informações? Entre em contato.</p>
                    </div>
                </section>
                <!---- =======================
                SECTION END ------->

                <div class="card-content bg-white contato">
                    <div class="container">                
                        <div class="row">
                            <div class="col-md-4">
                                <div class="mb-4">
                                    <i class="bi bi-envelope"></i>
                                    <h4>Email:</h4>
                                    <p>email@email.com.br</p>
                                </div>
                                <div class="mb-4">
                                    <i class="bi bi-whatsapp"></i>
                                    <h4>Whatsapp:</h4>
                                    <p>(00) 00000 - 0000</p>
                                </div>
                                <div class="mb-4">
                                    <i class="bi bi-geo-alt"></i>
                                    <h4>Endereço:</h4>
                                    <p>R. José Rodrigues do Nascimento, 97 - Jardim Dona Elvira, Itapevi - SP, 06693-230</p>
                                </div>
                            </div>

                            <!---- =======================
                            ENDEREÇO START ---->
                            <div class="col-md-8 endereco">
                                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3657.945707620073!2d-46.93229988553346!3d-23.534455066483208!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94cf04279b9eefd9%3A0xf6b6f92d37cc3e80!2zRWdiw6kgTMK0YWrDsiAtIEJhYsOhIERpZWdvIGRlIE9kw6k!5e0!3m2!1spt-BR!2sbr!4v1679490864214!5m2!1spt-BR!2sbr" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                            </div>
                            <!---- =======================
                            ENDEREÇO END ------>
                        </div>
                    </div>
                </div>
            </article>
            <!---- =======================
		    CONTATO END ------->
        </main>
        <!---- =======================
        CONTENT END ------>

        <!---- =======================
        FOOTER START ----->
        <footer>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4">
                    <div class="col text-center text-md-start">
                        <h6>Contato</h6>
                        <p>email@email.com.br</p>
                        <p>(00) 00000 - 0000</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4">
                        <div class="col text-center text-md-start">
                            &copy;2023 Egbé L'ajò: <a href="https://www.egbelajo.com.br" class="text-warning">egbelajo.com.br</a>
                        </div>
                        <div class="col text-center text-md-end">
                            <a class="footer-social-button" href="" target="_blank">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a class="footer-social-button" href="https://www.instagram.com/egbelajo/" target="_blank">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a class="footer-social-button" href="" target="_blank">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!---- =======================
        FOOTER END ------->
        
        <!---- Javascript ----->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../assets/js/asset-navbar.js"></script>
        <script type="text/javascript" src="../../assets/js/asset-field-mask.js"></script>
    </body>
</html>