<!DOCTYPE html>
<html lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Programmer & Designer">
        <title>Egbé L'ajò</title>

        <!----- ÍCONE ----->
        <link rel="icon" href="">

        <!------ CSS ------>
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
        <link rel="stylesheet" type="text/css" href="../../assets/css/style.css">
        <link rel="stylesheet" type="text/css" href="../../assets/css/media.css">

        <!----- ICONS ----->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    </head>
    <body>
        <!---- =======================
		NAVBAR START ----->
        <header>
            <nav class="navbar fixed-top navbar-expand-lg">
                <div class="container">
                    <a href="#" class="navbar-brand">
                        <img src="../../assets/images/logo.png" alt="">
                    </a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-bar" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbar-bar">
                        <ul class="navbar-nav me-auto">
                            <li><a class="nav-link" href="../../index.html">Home</a></li>
                            <li><a class="nav-link active" href="sobre.html">Sobre</a></li>
                            <li><a class="nav-link" href="ong.html">ONG</a></li>
                            <li><a class="nav-link" href="contato.html">Contato</a></li>
                        </ul>
                    </div>
                </div>
            </nav>
        </header>
        <!---- =======================
        NAVBAR END ------->

		<!---- =======================
		CONTENT START ---->
        <main>
            <!---- =======================
		    SOBRE START ------->
            <article>
                <!---- =======================
                SECTION START ----->
                <section class="section-title bg-grey">
                    <div class="container">
                        <h2>SOBRE</h2>
                        <p>Sem texto</p>
                    </div>
                </section>
                <!---- =======================
                SECTION END ------->

                <div class="card-content bg-white">
                    <div class="container">
                        <ul class="timeline-with-icons">
                            <li class="timeline-item">
                                <span class="timeline-icon">
                                    <i class="bi bi-person-fill"></i>
                                </span>
                                <h5 class="fw-bold">BÀBÁ DIEGO</h5>
                                <p class="text-muted">
                                    Diego Guimarães Tavares Carvalho, nasceu em 17 de janeiro de 1987,
                                    na cidade de Osasco - SP, filho de Ed Joel C. Tavares Carvalho e Rose Guimarães. Nascido em berço candomblecista,
                                    e iniciado ainda criança pela Iyá Minervina de Ògún, mas somente aos quinze anos,
                                    deu seguimento as obrigações religiosas na mesma família de asé, com o Bàbálorisá Toninho de Osún (Itapevi-SP),
                                    e em 2009 concluiu suas obrigações e assumiu a frente do Ilè Asé Ègbé Lajò Ògún Èrèguede,
                                    sendo o terceiro zelador de orisá da sua família matriarcal.
                                </p>
                            </li>
                            <li class="timeline-item">
                                <span class="timeline-icon">
                                    <i class="bi bi-people-fill"></i>
                                </span>
                                <h5 class="fw-bold">QUEM SOMOS</h5>
                                <p class="text-muted">
                                    Minha mãe foi iniciada em Oxum no quinto mês de minha gestação, pela iyálorixa Minervina de Ogum da nação Egba (Descendentes da cidade de Abeokuta,
                                    a capital do estado de Ogun e no Brasil uma nação de candomblé) e quem também fundou em 1964 o Egbé L'ajô.
                                    Aos meus 13 anos com a morte de nossa iyálorixá, dei continuidade as minhas obrigações com o Babalorixá Toninho de Oxum (Itapevi-SP).
                                    Em 2007, Odé meu orixá, decidiu dá um novo rumo a minha história religiosa, onde migrei para o Ketu e no Ile Oba Oru tomei axé e meu Oye em 2009.
                                    Em 2010, decidi criar o blog Terra dos Orixás, que em meses virou um sucesso, com mais de 60 mil acessos por mês,
                                    nele escrevo sobre o cotidiano do candomblé.
                                    Hoje, eu e minha mãe carnal, estamos à frente do Ilê Asé Egbé L'ajò (Itapevi-SP),seguindo os preceitos da nação Ketu,
                                    buscamos a valorização do candomblé e de sua cultura, com responsabilidade socioambiental.
                                    Temos projetos como: Projeto Igbo, que trata da conscientização ambiental, Projeto Ade, que capacita artesãos e Projeto Oluwô,
                                    onde são formados grupos de estudo e debate sobre a cultura afro-religiosa.
                                </p>
                            </li>
                            <li class="timeline-item">
                                <span class="timeline-icon">
                                    <i class="bi bi-house"></i>
                                </span>
                                <h5 class="fw-bold">NOSSA BANDEIRA</h5>
                                <p class="text-muted">
                                    Não somos uma casa,
                                    Somos uma família.
                                    Levamos nosso asé por toda uma vida.
                                    
                                    Honramos o orisá,
                                    Honramos os nossos ancestrais,
                                    Honramos aqueles que zelam por eles.
                                    
                                    Somos o Ègbé Lajò,
                                    Descendentes de Ògún,
                                    Criados por Òsún,
                                    E guiados por Erinlé.
                                    
                                    De braços dados
                                    Juramos nunca se voltar contra o próximo,
                                    Pois somos agentes vivos do poder de Olorún.
                                </p>
                            </li>
                        </ul>
                    </div>
                </div>
            </article>
            <!---- =======================
		    SOBRE END --------->
        </main>
        <!---- =======================
        CONTENT END ------>

        <!---- =======================
        FOOTER START ----->
        <footer>
            <div class="container">
                <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 g-4">
                    <div class="col text-center text-md-start">
                        <h6>Contato</h6>
                        <p>email@email.com.br</p>
                        <p>(00) 00000 - 0000</p>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-2 g-4">
                        <div class="col text-center text-md-start">
                            &copy;2023 Egbé L'ajò: <a href="https://www.egbelajo.com.br" class="text-warning">egbelajo.com.br</a>
                        </div>
                        <div class="col text-center text-md-end">
                            <a class="footer-social-button" href="" target="_blank">
                                <i class="bi bi-facebook"></i>
                            </a>
                            <a class="footer-social-button" href="https://www.instagram.com/egbelajo/" target="_blank">
                                <i class="bi bi-instagram"></i>
                            </a>
                            <a class="footer-social-button" href="" target="_blank">
                                <i class="bi bi-whatsapp"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <!---- =======================
        FOOTER END ------->
        
        <!---- Javascript ----->
		<script type="text/javascript" src="https://code.jquery.com/jquery-3.5.1.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
        <script type="text/javascript" src="../../assets/js/asset-navbar.js"></script>
        <script type="text/javascript" src="../../assets/js/asset-field-mask.js"></script>
    </body>
</html>